.features-nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  padding-left: 0;
}

.features-nav button {
  width: 200px;
  cursor: pointer;
  border: 1px solid #b8b8b8;
  background-color: #f0f0f0;
  padding: 4px 8px;
  border-radius: var(--sm-border-radius);
}

.features-nav button.active {
  background-color: #b8b8b8;
}
