.features-list {
  width: 100%;
  display: flex;
  justify-content: center;
}

.feature-details {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  max-width: 1000px;
}

.feature-details nav {
  /* width: 100%; */
  display: flex;
  align-self: flex-start;
  border: 1px solid #b8b8b8;
  border-radius: var(--sm-border-radius);
  overflow: hidden;
}

.feature-details nav button {
  min-width: 100px;
  padding: 4px 8px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.feature-details nav button.active {
  background-color: #b8b8b8;
}

.feature-details .feature-media {
  width: 100%;
  min-height: 550px;
}

.feature-details .feature-media .in-development {
  background-color: beige !important;
  filter: invert(0.1) !important;
}

.feature-details img {
  width: 100%;

  /* border-radius: var(--lg-border-radius); */
}

.feature-details .code-snippet-container {
  width: 100%;
  max-width: 1200px;
}

.feature-details .emgithub-container {
  width: 100%;
}

.feature-details .emgithub-file {
  border-radius: 0 !important;
  margin: 0 !important;
}
.file-data.hljs-style-github-dark-dimmed {
  max-height: 625px;
  overflow: auto;
}
.emgithub-file .code-area td.hljs-ln-line {
  font-size: 16px !important;
  line-height: 24px !important;
}
