.home-grid {
  display: grid;
  grid-template-columns: 6fr 1fr;
  gap: 30px;
}

.projects-grid {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
  overflow: hidden;
  padding-bottom: 20px;
}

div.project-overview:first-of-type .created-at::before {
  /* height: 1000px; */
}
div.project-overview:last-of-type .created-at::after {
  /* height: 200px; */
}
/* 
@media screen and (max-width: 860px) {
  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 640px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
} */

.self-introduction {
  border-bottom: 3px dashed grey;
  margin: 40px 0;
}
