.project-details {
  display: grid;
  grid-template-columns: 1fr 4fr;
  position: relative;
  padding: 40px;
  overflow: hidden;
  background-color: rgb(79, 79, 79);
  color: white;
  height: 100%;
  border-radius: 25px;
}

.project-details .sticky-content {
  position: sticky;
  top: 0;
  left: 0;
}

.project-details .project-header {
  margin-right: 10px;
}
.project-details .project-header h2 {
  margin-bottom: 40px;
}

.project-details .return-btn {
  position: absolute;
  right: 40px;
  top: 40px;
}

.project-details .project-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
  overflow: auto;
  padding: 20px;
  background-color: rgb(19, 19, 19);
  height: 101%;
}

.project-details .project-body .project-iframe {
  width: 1000px;
  height: 565px;
  border: 0;
  border-radius: var(--lg-border-radius);
}

.tv {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding: 4% 10%;
  background-color: #00000057;
}
/* .tv {
  height: 100%;
  position: fixed;
  left: 15%;
  top: 8%;
  z-index: 10;
} */

.screen {
  /* background-color: black; */
  height: 100%;
}

@keyframes tvOn {
  0% {
    transform: scaleY(0);
    height: 300px;
  }
  50% {
    height: 350px;
  }
  100% {
    transform: scaleY(1);
    background-color: transparent;
    height: 800px;
  }
}

@keyframes test {
  0% {
    opacity: 0;
    height: 300px;
  }
  50% {
    opacity: 0.5;
    height: 350px;
  }
  100% {
    opacity: 1;
    height: 800px;
  }
}

.tv.on .screen {
  /* animation: tvOn 1s linear forwards; */
}

.tv.on .project-details {
  /* animation: test 1s linear forwards; */
}
