.home-grid {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 30px;
}

.projects-grid {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* column-gap: 20px;
  row-gap: 30px; */
  gap: 40px;
}

@media screen and (max-width: 860px) {
  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 640px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
