.projects-grid {
  max-width: 1400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.projects-grid img {
  width: 100;
  height: auto;
}

@media screen and (max-width: 860px) {
  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 640px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
