.project-details {
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* margin-top: 80px; */
  /* width: 1400px; */
  /* height: 500px; */
  padding: 40px;
  overflow: auto;
  background-color: rgb(79, 79, 79);
  color: white;
}

.project-details .sticky-content {
  position: sticky;
  top: 40px;
  left: 0;
}

.project-details .chevron {
  margin: 0 5px;
}
.project-details .bread-crumbs {
  margin: 30px 0;
  text-align: left;
}

.project-details .project-header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.project-details .project-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
}

.project-details .project-body .project-iframe {
  width: 1000px;
  height: 565px;
  border: 0;
  border-radius: var(--lg-border-radius);
}

.tv {
  height: 100%;
  position: fixed;
  left: 15%;
  top: 14%;
  z-index: 10;
}

.screen {
  background-color: black;
}

@keyframes tvOn {
  0% {
    transform: scaleY(0);
    height: 300px;
  }
  50% {
    height: 350px;
  }
  100% {
    transform: scaleY(1);
    background-color: transparent;
    height: 700px;
  }
}

@keyframes test {
  0% {
    opacity: 0;
    height: 300px;
  }
  50% {
    opacity: 0.5;
    height: 350px;
  }
  100% {
    opacity: 1;
    height: 700px;
  }
}

.tv.on .screen {
  animation: tvOn 1s linear forwards;
}

.tv.on .project-details {
  animation: test 1s linear forwards;
}
