.project-details {
  height: 100vh;
  margin-top: 60px;
  width: 1400px;
}

.project-details .chevron {
  margin: 0 5px;
}
.project-details .bread-crumbs {
  text-align: left;
}

.project-details .header {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
}
