.techstack-map {
  padding-left: 20px;
  border-left: 4px solid #716b6b;
}

.techstack-map .tech-group {
  padding-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  padding: 20px;
  font-weight: bold;
  border-radius: 25px;
  transform: scaleX(0.8) scaleY(0.8);
  text-align: center;
}

.sticky {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
}

.techstack-map .sticky {
  position: sticky;
  top: 10vh;
  left: 0;
}
