@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

:root {
  /* font-family: 'Rubik', sans-serif; */
  font-family: 'Century Gothic', sans-serif;

  --sm-border-radius: 4px;
  --lg-border-radius: 8px;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: #dddddd;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 1400px;
  margin: auto;
  background-color: #f4f4f4;
}

a,
a:visited {
  color: black;
}
